.background-image{
    background-image: url("../assets/capa-video.png");
    z-index: 1;
    border-radius: 3px;
    transition: all 0.8s;
    cursor: pointer;
    width: 48vw;
    height: 55vh;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.fundo-png{
    background-image: url("../assets/Vector\ 22fundo.png");
    height: 3em;
    width: 3.2em;
}

.background-image:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.border-create{
    border: solid 1px #ECECEC;
    border-radius: 0px 0px 4px 4px;
}


.border-question{
    border: solid 1px #CCCCCC;
    border-radius: 3px;
    background-color: #EAF1F2;
}

h5{
    color:#F0813D;
    display: inline;
    font-size: 15px;
}

p{
    color: #595959;
}

#Button-download{
    width: 7.5vw;
    color: white;
    font-size: 0.9em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#Button-download img{
    height: 15px;
    margin-right: 0.5em;
}

#Button-star{
    color: white;
}

#people-icon{
    gap: 12px;
}

#corp-people{
    gap: 2px;
}

.request{
    padding: 1em;
}

.request h4,h5,p{
    font-family: 'Quicksand';
}

#text-likes{
    font-weight: 300;
    margin-left: 3em;
}

#heart{
    position: absolute;
    margin-left: 1.5em;
    height: 15px;
    margin-top: 4px;
    color: white;
}

#quadro{
    position: absolute;
    margin-left: 2.4em;
}

.response1{
    border-bottom: #cfcfcf solid 1px;
    background-color: #F8F8F8;
}

#responses{
    display: grid;
    grid-template-columns: 2fr 0.2fr 0.2fr;
    align-items: center;
}

#responses h4{
    font-family: 'Quicksand';

}

.response2{
    border-bottom: #cfcfcf solid 1px;
}

#iconButton-back{
    border-radius: 0px 0px 0px 0px;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked ~ .nav
{
    transform: translateX(19.3vw);
}

label{
    color: rgb(255, 101, 11);
    padding: 15px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.nav{
    left: -19.3vw;
    transition: all 0.5s;
}

#avatar-header{
    margin-top: 10px;
}

#two{
    position: absolute;
    top: 2.1em;
    right: 9.1em;
}

#circle{
    position: absolute;
    top: 2em;
    right: 9em;
}

.texts-header{
    margin-right: 10em;
    line-height: 0.3em;
    width: 40vw;
}

#text-header{
    font-size: 22px ;
    font-weight: 500;
}

#text-hello{
    font-size: 14px;
    font-weight: 600;
}

.div-text-hello{
    display: flex;
    flex-direction: column;
    line-height: 0.05em;
    align-items: flex-end;
}

/* responsividade com media */

@media screen and (min-device-width : 481px) and (max-device-width : 1000px) {
    
    #responses{
        grid-template-columns: 1.5fr 0.2fr 0.2fr;
    }

    .background-image:hover{
        -webkit-transform: none;
        transform: none;
    } 

    .background-image{
        min-width: 89vw;
        max-height: 80vh;
    }

    #Button-download{
        width: 20vw;
    }

    .nav{
        left: -50vw;
    }

    input[type="checkbox"]:checked ~ .nav
    {
        transform: translateX(50vw);
    }

    #avatar-header{
        height: 40px;
        width: 40px;
        margin-left: 7px;
    }

    #text-header{
        font-size: 13px;
    }

    .texts-header{
        font-size: 10px;
        margin-right: 0em;
        width: 52vw;
        line-height: 1em
    }

    #two{
        right: 1.6em;
        top: 2.6em;
    }

    #circle{
        right: 1.5em;
        top: 40px;
    }
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
        
    #responses{
        grid-template-columns: 0.6fr 0.2fr 0.1fr;
    }

    .background-image:hover{
        -webkit-transform: none;
        transform: none;
    } 

    .background-image{
        min-width: 100%;
    }

    #Button-download{
        width: 25vw;
    }

    .nav{
        left: -90vw;
    }

    input[type="checkbox"]:checked ~ .nav
    {
        transform: translateX(90vw);
    }
  
    #avatar-header{
        height: 30px;
        width: 30px;
        left: 3em;
    }

    #text-header{
        font-size: 9px;
    }
    
    .texts-header{
        font-size: 7px;
        margin-right: 0;
        line-height: 1.5em;
    }

    #two{
        right: 4.2vw;
        top: 2vh;
    }
    
    #circle{
        right: 4vw;
        top: 2vh;
    }

    #text-hello{
        font-size: 0.5em;
    }

    h5{
        font-size: 10px;
    }

    #quadro{
        margin-left: 3em;
    }
}

@media screen and (min-device-width : 1200px) {
    .nav{
        left: -0vw;
    }

    input[type="checkbox"]:checked ~ .nav
    {
        transform: translateX(0vw);
    }

    label{
        z-index: 0;
    }
}