.background-image{
    background-image: url("../assets/capa-video.png");
    z-index: 1;
    border-radius: 3px;
    transition: all 0.8s;
    cursor: pointer;
}

.background-image:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.border-create{
    border: solid 1px #ECECEC;
    border-radius: 3px;
}

h5{
    color:#F0813D;
    display: inline;
    font-size: 15px;
}

p{
    color: #595959;
}

#Button-download{
    width: 7.5vw;
    color: white;
    font-size: 0.9em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#Button-start{
    color: white;
}